/* CUSTOM-PROPS */
/* FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto+Mono:wght@400;500;600;700&display=swap');

:root {
  --green: #0ca941;
  --loader-color: var(--green);
  --grey: #678570;
  --black: #374a3d;
  --white: #fff;

  --fredoka: "Fredoka", "Arial", sans-serif;
  --mono: "Roboto Mono", "Arial", sans-serif;
}

/* LOADER */
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  position: fixed;
  z-index: 999;
  transition: opacity 0.2s ease;
}

.loader-wrapper--none {
  opacity: 0;
  pointer-events: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted var(--loader-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--white);
  color: var(--grey);
  font-family: var(--mono);
  font-size: 18px;
  line-height: 1.7;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 3px dashed var(--green);
  outline-offset: 3px;
}

/* CONTAINER  */
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}

.main-content--bg {
  background-image: url(../img/section-gardener-info-blur-bg-min.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 350px) top;
}

/* TITLE  */
.title {
  margin-top: 0;
  color: var(--black);
  font-size: 36px;
  line-height: 1.2;
  font-family: var(--fredoka);
  font-weight: 700;
  text-transform: capitalize;
}


/* LOGO  */
.logo {
  display: flex;
  flex-shrink: 0;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: 145px;
  height: 34px;
  object-fit: contain;
  object-position: center;
}


/* BUTTON  */
.button {
  border: none;
  background-color: transparent;
  color: var(--black);
  padding: 0;
  text-align: center;
  white-space: nowrap;
  text-transform: capitalize;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button--green-small {
  padding: 10px;
  min-width: 110px;
  background-color: var(--green);
  border-radius: 6px;
  color: var(--white);
  cursor: pointer;
}

.button--green-big {
  border-radius: 10px;
  padding: 25px;
  min-width: 223px;
}

.arrow-button-wrapper {
  display: flex;
  align-items: flex-start;
}

.arrow-button-wrapper::after {
  content: "";
  width: 108px;
  height: 87px;
  background-image: url(../img/arrow-min.svg);
  background-repeat: no-repeat;
  margin-top: 17px;
  margin-left: 57px;
}

.button--arrow {
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  border: 2px solid var(--green);
  min-width: 179px;
  padding: 25px;
  border-radius: 50%;
  text-decoration: none;
}

.button--arrow::after {
  content: "";
  width: 18px;
  height: 11px;
  background-image: url(../img/arrow-button-min.svg);
  margin-left: 6px;
}

.button--card {
  border: 0.5px solid rgba(55, 74, 61, 0.36);
  color: var(--grey);
  font-size: 16px;
  line-height: 1.5;
  border-radius: 10px;
  min-width: 90px;
  padding: 9px;
  cursor: pointer;
}



/* SITE-HERO-HEADER-WRAPPER  */
.site-hero-header-wrapper {
  position: relative;
  min-height: 900px;
  background-image: url(../img/index-hero-bg-min.svg), url(../img/index-header-flower-bg-min.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50% + 85px) calc(47% + 10px), calc(50% - 700px) top;
  margin-bottom: 55px;
}

/* SITE-HEADER  */
.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 44px;
}

.site-header__logo {
  margin-right: 30px;
}

.site-header__sitenav {
  display: flex;
  align-items: center;
}

.sitenav__list {
  display: flex;
  margin: 0;
  margin-right: 56px;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 50px;
}

.sitenav__link {
  color: var(--black);
  font-size: 18px;
  line-height: normal;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  text-transform: capitalize;
}

.hero__content {
  width: 100%;
  max-width: 616px;
  padding-top: 132px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 38px;
  color: var(--black);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.05;
}

.hero__title > b {
  color: var(--green);
}

.hero__description {
  margin-top: 0;
  padding-bottom: 40px;
  color: #707070;
}

.hero__cactus-img-wrapper {
  position: absolute;
  bottom: -49px;
  left: calc(50% - 110px);
  display: flex;
  justify-content: center;
  width: 169px;
  height: 189px;
  background-color: var(--white);
  box-shadow: 22px 34px 50px 11px #7CA41714;
  border-radius: 35px;
}

.hero__cactus-img {
  transform: translateY(-60px);
}


/* INDEX-STATISTIC */
.index-statistic {
  position: relative;
}
.index-statistic__container {
  position: relative;
  padding-top: 55px;
  padding-bottom: 70px;
}

.index-statistic__index-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  padding-top: 50px;
  background-color: var(--white);
  border-radius: 28px;
  box-shadow: 23px 19px 138px -45px rgba(12, 169, 65, 0.13);
}

.index-info__content {
  width: 100%;
  max-width: 311px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.index-info__title {
  margin-bottom: 9px;
  font-size: 30px;
  line-height: 1.33;
}

.index-info__description {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}

.index-info__statistic-list {
  display: flex;
  align-items: flex-start;
}

.statistic-list__detail-term-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 175px;
}

.statistic-list__detail-term-wrapper:not(:last-child) {
  margin-right: 58px;
}

.statistic-list__detail {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  font-family: var(--fredoka);
  font-size: 60px;
  line-height: 0.7;
  font-weight: 800;
  color: var(--green);
  z-index: 100;
}

.statistic-list__detail::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 83px;
  height: 73px;
  background-image: url(../img/dt-bg-min.svg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
}

.index-statistic__flower {
  position: absolute;
  top: -15px;
  left: -120px;
  width: 289px;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.index-statistic__blur-bg {
  position: absolute;
  top: -100%;
  left: calc(50% - 1300px);
  z-index: -1;
}


/* INDEX-DATA */
.index-data__container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 45px;
}

.index-data__content {
  width: 100%;
  max-width: 458px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.index-data__title {
  margin-bottom: 31px;
}

.index-data__description {
  margin-top: 0;
  margin-bottom: 40px;
}

.index-data__img {
  display: block;
  width: 640px;
  height: 527px;
  object-fit: contain;
  object-position: center;
}


/* INDEX-DATA-PRO */
.index-data-pro {
  position: relative;
}

.index-data-pro__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 60px;
}

.index-data-pro__content {
  width: 100%;
  max-width: 458px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.index-data-pro__title {
  margin-bottom: 30px;
}

.index-data-pro__description {
  margin-top: 0;
}

.index-data-pro__description:not(:last-child) {
  margin-bottom: 40px;
}

.index-data-pro__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  ". . b b "
  "a a b b"
  "a a c c"
  ". . c c";
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.index-data-pro__card {
  width: 290px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 8px 9px 42px 0px #0CA9411F;
  background-color: var(--white);
}

.data-pro-card:first-child {
  grid-area: a;
}

.data-pro-card:nth-child(2) {
  grid-area: b;
}

.data-pro-card:last-child {
  grid-area: c;
}

.data-pro-card__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.data-pro-card__img {
  display: block;
  width: 136px;
  height: 132px;
  object-fit: contain;
  object-position: center;
}

.data-pro-card__title {
  color: var(--black);
  font-family: var(--fredoka);
  margin-top: 0;
  margin-bottom: 13px;
  text-transform: capitalize;
}

.data-pro-card__description {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.index-data-pro__bg {
  display: block;
  position: absolute;
  top: -23%;
  left: calc(50% - 180px);
  z-index: -1;
}


/* INDEX-DREAM */
.index-dream__container {
  padding-top: 60px;
  padding-bottom: 67px;
}

.index-dream__content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.index-dream__title {
  margin-bottom: 30px;
}

.index-dream__description {
  margin: 0;
}

.index-dream__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -65px -45px;
  padding: 0;
  list-style: none;
}

.index-dream__item {
  min-width: 360px;
  min-height: 450px;
  margin: 0 0 65px 45px;
  border: 0.5px solid rgba(0, 0, 0, 0.36);
  border-radius: 37px;
  padding: 30px;
}

.dream-card__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dream-card__title {
  margin-top: auto;
  margin-bottom: 4px;
  color: var(--black);
  font-family: var(--fredoka);
  font-size: 24px;
  line-height: 1.25;
  text-transform: capitalize;
}

.dream-card__img {
  display: block;
  align-self: center;
  min-height: 268px;
  order: -1;
  object-fit: cover;
  object-position: center;
}

.index-rating__inner {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 9px;
}

.index-rating__rating {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.index-rating__yellow-star {
  display: block;
  width: 24px;
  height: 24px;
  object-fit: contain;
  object-position: center;
}

.index-rating__yellow-star:not(:last-child) {
  margin-right: 2px;
}

.index-rating__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index-rating__warehouse {
  font-size: 16px;
  margin-left: 4px;
}

.index-rating__warehouse::before {
  content: "(";
}

.index-rating__warehouse::after {
  content: ")";
}

.index-rating__price-term-detail-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.index-rating__price-term {
  font-size: 12px;
}

.index-rating__price-detail {
  margin-left: 0;
  font-family: var(--fredoka);
  font-weight: 700;
  color: var(--green);
  font-size: 20px;
  line-height: 1.5;
}

.index-rating__price-detail::before {
  content: "$";
}


/* FORM-INDEX  */
.index-form__container {
  padding-top: 65px;
  padding-bottom: 65px;
}

.index-form__content {
  width: 100%;
  max-width: 626px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.index-form__title {
  margin-bottom: 30px;
}

.index-form__description {
  margin: 0;
}

.form-index__inner {
  width: 100%;
  max-width: 660px;
  display: flex;
  margin: 0 auto;
}

.form-index__inner *:focus {
  outline: none;
}

.form-index__input {
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid var(--green);
}

.form-index__input::placeholder {
  color: #c4c4c4;
}

.form-index__button {
  margin-left: -57px;
}